<ion-title class="text-center" *ngIf="totalListas > 0">Listas de tareas pendientes</ion-title>

<ion-card>
    <ion-list no-padding class="shadow-sm" inset="false" *ngFor="let lista of deseosService.listas | completeFilter:terminada" lines="none">
        <ion-item-sliding>
            <ion-item detail (click)="listaSeleccionada( lista )">
                <ion-label>{{lista.titulo}}</ion-label>
                <ion-badge color="danger" slot="end">{{ lista.items.length }} Items</ion-badge>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option color="primary" (click)="editarLista( lista )">
                    <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrarLista( lista )">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-card>